<%= form_for(@contact, role: 'form') do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>
  <div class="form-group">
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </div>
  <%= f.submit %>
<% end %>
