<h1> Email for <%= @contact.name %> </h1>

<%= form_for :email, url: email_contacts_path(@contact) do |f| %>
  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Send' %>
<% end %>
