<h2><%= @contact.name %></h2>

<ul class="list-group">  
  <li class="list-group-item"><%= image_tag(@contact.photo, class: 'img-thumbnail') %></li>
  <li class="list-group-item"><b>Email:</b> <%= @contact.email %></li>
  <li class="list-group-item"><b>Phone:</b> <%= @contact.phone %></li>
  <li class="list-group-item"><b>Address:</b> <%= @contact.address %></li>
  <li class="list-group-item">
    <span class="padding"><%= link_to "Edit", edit_contact_path(@contact) %></span>
    <span class="padding"><%= link_to("Delete", contact_path(@contact), method: 'delete') %></span>
    <span class="padding"><%= link_to "Email Me", email_contacts_path(@contact) %></span>
  </li>
</ul>
